<!DOCTYPE html>
<html>

<head>
    <title>Basic Attack</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="css/foundation.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="app">
        <section class="row">
            <div class="small-6 columns">
                <h1 class="text-center">Civciv</h1>
                <div class="healthbar">
                    <div :style="{width: playerHP + '%'}" class="healthbar text-center"
                        style="background-color: green; margin: 0; color: white;">
                        {{ playerHP }}%
                    </div>
                </div>
            </div>
            <div class="small-6 columns">
                <h1 class="text-center">Aslan</h1>
                <div class="healthbar">
                    <div :style="{width: opforHP + '%'}" class="healthbar text-center"
                        style="background-color: green; margin: 0; color: white;">
                        {{ opforHP }}%
                    </div>
                </div>
            </div>
        </section>

        <section class="row controls" v-if="!newGame">
            <div class="small-12 columns">
                <button id="start-game" @click="startGame">NEW GAME</button>
            </div>
        </section>

        <section class="row controls" v-if="newGame">
            <div class="small-12 columns">
                <button id="attack" @click="attack">ATTACK</button>
                <button id="special-attack" @click="finisherAttack">FINISHER ATTACK</button>
                <button id="heal" @click="firstAid">FIRST AID</button>
                <button id="give-up" @click="surrender">SURRENDER</button>
            </div>
        </section>

        <section class="row log" v-if="newGame">
            <div class="small-12 columns">
                <ul>
                    <li>
                        <li v-for="logs in matchLog"> {{ logs }}</li>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <script src="app.js"></script>
</body>

</html>